<div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3>Catequizandos por Turma</h3>
                <ol class="breadcrumb">
                    <li><a href="#/"><i class="fa fa-home"></i> Início</a></li>
                    <li><a href="#/catequese/relatorios"><i class="fa fa-home"></i> Relatórios</a></li>
                    <li class="active"><i class="fa fa-user"></i> Catequizandos por Turma</li>
                </ol>
                
                <div id="report">
                    <div class="well">
                        <h4>Nome Comunidade</h4>
                    </div>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Data Nascimento</th>
                                <th>Telefone</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        
                    </table>
                    <hr />
                </div>
            </div>
        </div>
    </div>
    
    