<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3>Cadastro de Catequista</h3>
            <ol class="breadcrumb">
                <li><a href="#/"><i class="fa fa-home"></i> Início</a></li>
                <li><a href="#/catequese"><i class="fa fa-users"></i> Catequese</a></li>
                <li><a href="#/catequese/catequistas"><i class="fa fa-user"></i> Catequistas</a></li>
                <li class="active"> Editar</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form novalidate role="form" ng-submit="submeterForm()">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Dados Pessoais
                            </div>
                            <div class="panel-body" ng-controller="PessoasListController">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                
                                                <select name="pessoa" class="form-control" 
                                                        ng-model="catequista.pessoa" ng-options="pessoa as pessoa.nome for pessoa in pessoas track by pessoa.id">
                                                    <option value="">Selecione</option>
                                                </select>
                                                </select>
                                                <span class="input-group-btn">
                                                    <a href="#/pessoas/new" class="btn btn-primary" type="button">
                                                        Novo
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>CPF</label>
                                            <input type="cpf" class="form-control" name="cpf" ng-model="catequista.pessoa.cpf" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" name="email" ng-model="catequista.pessoa.email" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Telefone Principal</label>
                                            <input type="text" class="form-control" name="telefone1" ng-model="catequista.pessoa.telefone1" disabled>
                                        </div>
                                    </div>                      
                                </div>
                            </div>
                        </div> <!-- FIM PANNEL PESSOA -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group" ng-controller="ComunidadesListController">
                                    <label>Comunidade de Atuação</label>
                                    <select name="comunidade" class="form-control"
                                            ng-model="catequista.comunidadeId" ng-options="comunidade.id as comunidade.nome for comunidade in comunidades">
                                        <option value="">Selecione</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Data de Início da Atuação</label>
                                    <input type="text" ui-mask="99/99/9999" model-view-value="true" placeholder="dd/mm/aaaa" class="form-control" ng-model="catequista.dataInicio">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select name="status" class="form-control" ng-model="catequista.status">
                                        <option value="">Selecione</option>
                                        <option value="1">Ativo</option>
                                        <option value="0">Desativado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Observações</label>
                                    <textarea type="text" class="form-control" rows="5" name="observacoes" ng-model="catequista.observacoes"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div ng-show="mensagem.length" class="alert alert-warning alert-custom">
                            <button type="button" class="close" data-ng-click="switchBool('mensagem')" >
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{mensagem}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary">
                            Salvar
                        </button>
                        <a href="#/catequese/catequistas" class="btn btn-primary">Voltar</a>
                    </div>
                </div>  
            </form>
        </div>
    </div><!-- /.row -->
    
    
</div>