<div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3>Cadastro de Inscrição</h3>
                <ol class="breadcrumb">
                        <li><a href="#/"><i class="fa fa-home"></i> Início</a></li>
                        <li><a href="#/catequese"><i class="fa fa-users"></i> Catequese</a></li>
                        <li><a href="#/catequese/inscricoes"><i class="fa fa-user"></i> Inscrição</a></li>
                        <li class="active"> Editar</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form novalidade role="form" ng-submit="submeterForm()">
                    <div class="row" >
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Dados Pessoais
                                </div>
                                <div class="panel-body" ng-controller="PessoasListController">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group" ng-class="{ 'has-error' : formulario.pessoa.$invalid && !formulario.pessoa.$pristine && formulario.$submitted }">
                                                <div class="input-group">
                                                    
                                                    <select name="pessoa" class="form-control" required
                                                            ng-model="inscricao.pessoa" ng-options="pessoa as pessoa.nome for pessoa in pessoas track by pessoa.id">
                                                        <option value="">Selecione</option>
                                                    </select>
                                                    </select>
                                                    <span class="input-group-btn">
                                                        <a href="#/pessoas/new" class="btn btn-primary" type="button">
                                                            Novo
                                                        </a>
                                                    </span>
                                                </div>
                                                <span class="label list-group-item-danger" ng-show="formulario.$submitted && formulario.pessoa.$error.required">
                                                    Este campo é obrigatório
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>CPF</label>
                                                <input type="cpf" class="form-control" name="cpf" ng-model="inscricao.pessoa.cpf" disabled>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" class="form-control" name="email" ng-model="inscricao.pessoa.email" disabled>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Telefone</label>
                                                <input type="text" class="form-control" name="telefone1" ng-model="inscricao.pessoa.telefone1" disabled>
                                            </div>
                                        </div>                      
                                    </div>
                                </div>
                            </div> <!-- FIM PANNEL PESSOA -->
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-controller="EtapasCatequeseListController">
                                <label>Etapa</label>
                                <select name="etapaCatequese" class="form-control" 
                                        ng-model="inscricao.etapaCatequeseId" ng-options="etapaCatequese as etapaCatequese.descricao for etapaCatequese in etapasCatequese">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group" ng-controller="ComunidadesListController">
                                <label>Comunidade</label>
                                <select name="comunidade" class="form-control"
                                        ng-model="inscricao.comunidadeId" ng-options="comunidade as comunidade.nome for comunidade in comunidades">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group" ng-controller="TurnosListController">
                                <label>Turno Preferencial</label>
                                <select name="turno" class="form-control"
                                        ng-model="inscricao.turnoId" ng-options="turno as turno.descricao for turno in turnos">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Dia da Semana Preferencial</label>
                                <select name="diaSemana" class="form-control" ng-model="inscricao.diaSemana">
                                    <option value="">Selecione</option>
                                    <option value="0">Domingo</option>
                                    <option value="1">Segunda-Feira</option>
                                    <option value="2">Terça-Feira</option>
                                    <option value="3">Quarta-Feira</option>
                                    <option value="4">Quinta-Feira</option>
                                    <option value="5">Sexta-Feira</option>
                                    <option value="6">Sábado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Data da Inscrição</label>
                                <input type="text" ui-mask="99/99/9999" model-view-value="true" class="form-control" ng-model="inscricao.dataInicio">
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-lg-4">
                            <div class="form-group" ng-controller="EscolasListController">
                                <label>Escola</label>
                                <select name="escola" class="form-control"
                                        ng-model="inscricao.escolaId" ng-options="escola as escola.nome for escola in escolas">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Etapa Escolar</label>
                                <select name="etapaEscola" class="form-control" ng-model="inscricao.etapaEscola">
                                    <option value="">Selecione</option>
                                    <option value="1">Primeiro Ano</option>
                                    <option value="2">Segundo Ano</option>
                                    <option value="3">Terceiro Ano</option>
                                    <option value="4">Quarto Ano</option>
                                    <option value="5">Quinto Ano</option>
                                    <option value="6">Sexto Ano</option>
                                    <option value="7">Sétimo Ano</option>
                                    <option value="8">Oitavo Ano</option>
                                    <option value="9">Nono Ano</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group" ng-controller="AnosLetivosCatequeseListController" ng-class="{ 'has-error' : formulario.anoLetivo.$invalid && !formulario.anoLetivo.$pristine && formulario.$submitted }">
                                <label>Ano Letivo</label>
                                <select name="anoLetivo" class="form-control" required
                                        ng-model="inscricao.anoLetivoId" ng-options="anoLetivo.id as anoLetivo.descricao for anoLetivo in anosLetivos">
                                    <option value="">Selecione</option>
                                </select>
                                <span class="label list-group-item-danger" ng-show="formulario.$submitted && formulario.anoLetivo.$error.required">
                                    Este campo é obrigatório
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group" ng-class="{ 'has-error' : formulario.status.$invalid && !formulario.status.$pristine && formulario.$submitted }">
                                <label>Status</label>
                                <select name="status" class="form-control" ng-model="inscricao.status" required>
                                    <option value="">Selecione</option>
                                    <option value="1">Ativo</option>
                                    <option value="0">Desativado</option>
                                </select>
                                <span class="label list-group-item-danger" ng-show="formulario.$submitted && formulario.status.$error.required">
                                    Este campo é obrigatório
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Observações</label>
                                <textarea type="text" class="form-control" rows="5" name="observacoes" ng-model="inscricao.observacoes"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div ng-show="mensagem.length" class="alert alert-warning alert-custom">
                                <button type="button" class="close" data-ng-click="switchBool('mensagem')" >
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{mensagem}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary">
                                Salvar
                            </button>
                            <a href="#/catequese/inscricoes-catequese" class="btn btn-primary">Voltar</a>
                        </div>
                    </div>  
                </form>
            </div>
        </div><!-- /.row -->
    </div>
    