<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Paróquia N. Sra. Mãe de Deus</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="active"><a href="#/"><i class="fa fa-home"></i> Início</a></li>
            <li><a href="#/"><i class="fa fa-edit"></i> Catequese <b class="caret"></b></a></li>
            <li><a href="#/pessoas">Alunos</a></li>
            <li><a href="#/pessoas">Catequistas</a></li>
            <li><a href="#/pessoas">Turmas</a></li>
            <li><a href="#/pessoas">Inscrições</a></li>

            <li class="dropdown">
            <a href="#" class="dropdown-toggle"><i class="fa fa-edit"></i> Teologia <b class="caret"></b></a>    
            </li>
            <li><a href="#/pessoas">Alunos</a></li>
            <li><a href="#/pessoas">Professores</a></li>
            <li><a href="#/pessoas">Turmas</a></li>
            <li><a href="#/pessoas">Inscrições</a></li>
            <li class="dropdown">
                <a href="#/" class="dropdown-toggle"><i class="fa fa-edit"></i> Cadastros <b class="caret"></b></a>
            </li>
            <li><a href="#/pessoas">Diocese</a></li>
            <li><a href="#/pessoas">Paróquia</a></li>
            <li><a href="#/pessoas">Comuniades</a></li>
            <li><a href="#/pessoas">Escolas</a></li>
            <li><a href="#/"><i class="fa fa-bar-chart-o"></i> Relatórios</a></li>
            <li><a href="#/"><i class="fa fa-user"></i> Usuários</a></li>
    </div>

    
</nav>
