<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3>Pessoas</h3>
            <ol class="breadcrumb">
                <li><a href="#/"><i class="fa fa-home"></i> Início</a></li>
                <li class="active"><i class="fa fa-user"></i> Pessoas</li>
            </ol>

            <div class="row">
                <div class="col-lg-10">
                    <div class="input-group">
                        <input class="form-control" placeholder="Pesquisar" ng-model="filtro">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <a href="#/pessoas/new" class="btn btn-primary" type="button">
                        Nova Pessoa
                    </a>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-lg-12">
                    <div ng-show="mensagem.length" class="alert alert-warning alert-custom">
                        <button type="button" class="close" data-ng-click="switchBool('mensagem')" >
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{mensagem}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table id="table-pessoas" class="table table-hover table-striped tablesorter" ng-table="tableParams">
                            <tr ng-repeat="pessoa in $data | filter: filtro">
                                <td title="'Nome'" sortable="'nome'">{{pessoa.nome}}</td>
                                <td title="'Nome da Mãe'" sortable="'nomeMae'">{{pessoa.nomeMae}}</td>
                                <td title="'Nascimento'" sortable="'dataNascimento'">{{pessoa.dataNascimento | date:'dd/MM/yyyy' }}</td>
                                <td>
                                    <a href="#/pessoas/edit/{{pessoa.id}}" class="btn btn-sm btn-default" href="">Editar</a>
                                    <button class="btn btn-sm btn-default" ng-click="remover(pessoa)">Remover</button>
                                </td>
                            </tr>
                        </table>
                        <button ng-controller="ExcelExport" class="btn btn-link" ng-click="exportToExcel('#table-pessoas')">
                            <span class="glyphicon glyphicon-share"></span> Exportar para o Excel
                        </button>
                    
                        <!--
                        <table ng-table="tableParams" class="table" show-filter="true">
                            <tr ng-repeat="user in $data">
                                <td title="'Name'" sortable="'name'">
                                    {{user.name}}</td>
                                <td title="'Age'" sortable="'age'">
                                    {{user.age}}</td>
                            </tr>
                        </table>
                        -->
                    </div>
                    
                </div>
            </div><!-- /.row -->

        </div>
    </div>
</div>
    