<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3>Cadastro de Turmas</h3>
            <ol class="breadcrumb">
                    <li><a href="#/"><i class="fa fa-home"></i> Início</a></li>
                    <li><a href="#/catequese"><i class="fa fa-users"></i> Catequese</a></li>
                    <li><a href="#/catequese/turmas"><i class="fa fa-user"></i> Turmas</a></li>
                    <li class="active"> Editar</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form novalidate name="formulario" role="form" ng-submit="submeterForm()">
                <div class="row" >
                    <div class="col-md-6">
                        <div class="form-group" ng-controller="EtapasCatequeseListController" ng-class="{ 'has-error' : formulario.etapaCatequese.$invalid && !formulario.etapaCatequese.$pristine && formulario.$submitted }">
                            <label>Etapa</label>
                            <select name="etapaCatequese" class="form-control" required 
                                    ng-model="turma.etapaCatequeseId" ng-options="etapaCatequese.id as etapaCatequese.descricao for etapaCatequese in etapasCatequese">
                                <option value="">Selecione</option>
                            </select>
                            <span class="label list-group-item-danger" ng-show="formulario.$submitted && formulario.etapaCatequese.$error.required">
                                Este campo é obrigatório
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group" ng-controller="ComunidadesListController" ng-class="{ 'has-error' : formulario.comunidade.$invalid && !formulario.comunidade.$pristine && formulario.$submitted }">
                            <label>Comunidade</label>
                            <select name="comunidade" class="form-control" required
                                    ng-model="turma.comunidadeId" ng-options="comunidade.id as comunidade.nome for comunidade in comunidades">
                                <option value="">Selecione</option>
                            </select>
                            <span class="label list-group-item-danger" ng-show="formulario.$submitted && formulario.comunidade.$error.required">
                                Este campo é obrigatório
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group" ng-controller="TurnosListController" ng-class="{ 'has-error' : formulario.turno.$invalid && !formulario.turno.$pristine && formulario.$submitted }">
                            <label>Turno</label>
                            <select name="turno" class="form-control" required
                                    ng-model="turma.turnoId" ng-options="turno.id as turno.descricao for turno in turnos">
                                <option value="">Selecione</option>
                            </select>
                            <span class="label list-group-item-danger" ng-show="formulario.$submitted && formulario.turno.$error.required">
                                Este campo é obrigatório
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group" ng-class="{ 'has-error' : formulario.diaSemana.$invalid && !formulario.diaSemana.$pristine && formulario.$submitted }">
                            <label>Dia da Semana</label>
                            <select name="diaSemana" class="form-control" ng-model="turma.diaSemana" required>
                                <option value="">Selecione</option>
                                <option value="0">Domingo</option>
                                <option value="1">Segunda-Feira</option>
                                <option value="2">Terça-Feira</option>
                                <option value="3">Quarta-Feira</option>
                                <option value="4">Quinta-Feira</option>
                                <option value="5">Sexta-Feira</option>
                                <option value="6">Sábado</option>
                            </select>
                            <span class="label list-group-item-danger" ng-show="formulario.$submitted && formulario.diaSemana.$error.required">
                                Este campo é obrigatório
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group" ng-controller="TurnosListController" ng-controller="CatequistasListController" ng-class="{ 'has-error' : formulario.horario.$invalid && !formulario.horario.$pristine && formulario.$submitted }">
                            <label>Horário</label>
                            <input type="text" name="horario" ui-mask="99:99" model-view-value="true" ng-model="turma.horario" class="form-control" required>
                            <span class="label list-group-item-danger" ng-show="formulario.$submitted && formulario.horario.$error.required">
                                Este campo é obrigatório
                            </span>
                        </div>
                        
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-6">
                        <div class="form-group" ng-controller="CatequistasListController" ng-class="{ 'has-error' : formulario.catequista.$invalid && !formulario.status.$pristine && formulario.$submitted }">
                            <label>Catequista</label>
                            <select name="catequista" class="form-control" required
                                    ng-model="turma.catequistaId" ng-options="catequista.id as catequista.pessoa.nome for catequista in catequistas">
                                <option value="">Selecione</option>
                            </select>
                            <span class="label list-group-item-danger" ng-show="formulario.$submitted && formulario.catequista.$error.required">
                                Este campo é obrigatório
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group" ng-class="{ 'has-error' : formulario.dataInicio.$invalid && !formulario.dataInicio.$pristine && formulario.$submitted }">
                            <label>Data de Início</label>
                            <input type="text" name="dataInicio" ui-mask="99/99/9999" model-view-value="true" class="form-control" 
                                    ng-model="turma.dataInicio" pattern="^([012][0-9]|[3][01])\/(0[1-9]|1[0-2])\/[12][0-9]{3}$">
                            <span class="label list-group-item-danger" ng-show="formulario.$submitted && formulario.dataInicio.$error.pattern">
                                A data informada é inválida
                            </span>
                        </div>
                        
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group" ng-class="{ 'has-error' : formulario.dataTermino.$invalid && !formulario.dataTermino.$pristine && formulario.$submitted }">
                            <label>Data de Início</label>
                            <input type="text" name="dataTermino" ui-mask="99/99/9999" model-view-value="true" class="form-control" 
                                    ng-model="turma.dataTermino" pattern="^([012][0-9]|[3][01])\/(0[1-9]|1[0-2])\/[12][0-9]{3}$">
                            <span class="label list-group-item-danger" ng-show="formulario.$submitted && formulario.dataTermino.$error.pattern">
                                A data informada é inválida
                            </span>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group" ng-class="{ 'has-error' : formulario.status.$invalid && !formulario.status.$pristine && formulario.$submitted }">
                            <label>Status</label>
                            <select name="status" class="form-control" ng-model="turma.status" required>
                                <option value="">Selecione</option>
                                <option value="1">Ativo</option>
                                <option value="0">Desativado</option>
                            </select>
                            <span class="label list-group-item-danger" ng-show="formulario.$submitted && formulario.status.$error.required">
                                Este campo é obrigatório
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Observações</label>
                            <textarea type="text" class="form-control" rows="5" name="observacoes" ng-model="turma.observacoes"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div ng-show="mensagem.length" class="alert alert-warning alert-custom">
                            <button type="button" class="close" data-ng-click="switchBool('mensagem')" >
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{mensagem}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary">
                            Salvar
                        </button>
                        <a href="#/catequese/turmas" class="btn btn-primary">Voltar</a>
                    </div>
                </div>  
            </form>
        </div>
    </div><!-- /.row -->
</div>
