<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3>Cadastro de Usuários</h3>
            <ol class="breadcrumb">
                <li><a href="#/"><i class="fa fa-home"></i> Início</a></li>
                <li><a href="#/usuarios"><i class="fa fa-users"></i> Usuários</a></li>
                <li class="active"> Editar</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form novalidate name="formulario" role="form" ng-submit="submeterForm()">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Dados Pessoais
                            </div>
                            <div class="panel-body" ng-controller="PessoasListController">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                
                                                <select name="pessoa" class="form-control" 
                                                        ng-model="usuario.pessoa" ng-options="pessoa as pessoa.nome for pessoa in pessoas track by pessoa.id">
                                                    <option value="">Selecione</option>
                                                </select>
                                                </select>
                                                <span class="input-group-btn">
                                                    <a href="#/pessoas/new" class="btn btn-primary" type="button">
                                                        Novo
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>CPF</label>
                                            <input type="cpf" class="form-control" name="cpf" ng-model="usuario.pessoa.cpf" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" name="email" ng-model="usuario.pessoa.email" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Telefone Principal</label>
                                            <input type="text" class="form-control" name="telefone1" ng-model="usuario.pessoa.telefone1" disabled>
                                        </div>
                                    </div>                      
                                </div>
                            </div>
                        </div> <!-- FIM PANNEL PESSOA -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" name="username" ng-model="usuario.username">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Senha</label>
                                    <input type="password" class="form-control" name="senha" ng-model="usuario.senha">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select name="status" class="form-control" ng-model="usuario.status">
                                        <option value="">Selecione</option>
                                        <option value="1">Ativo</option>
                                        <option value="0">Desativado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div ng-show="mensagem.length" class="alert alert-warning alert-custom">
                            <button type="button" class="close" data-ng-click="switchBool('mensagem')" >
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{mensagem}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary">
                            Salvar
                        </button>
                        <a href="#/usuarios" class="btn btn-primary">Voltar</a>
                    </div>
                </div>  
            </form>
        </div>
    </div><!-- /.row -->
    
    
</div>